In [1]:
print("Twinkle, twinkle, little star, \n        How I wonder what you are! \n                Up above the world so high,\n                Like a diamond in the sky.\nTwinkle,twinkle,little star, \n        How I wonder what you are")

Twinkle, twinkle, little star,
        How I wonder what you are!
                Up above the world so high,
                Like a diamond in the sky.
Twinkle,twinkle,little star,
        How I wonder what you are

In [3]:
print("Q#2")

Q#2

In [6]:
a = "My Python version is ";
b = input("Enter your python version");
c = a + b
print(c);

Enter your python version3
My Python version is 3

In [7]:
print("Q#3")

Q#3

In [8]:
Date = input("Enter current date ");
Time = input("Enter current time ");

Enter current date 24 October 2021
Enter current time 2:39

In [9]:
print("Q#4")

Q#4

In [13]:
pi=3.142;
r=int(input("enter the radius of circle "));
area = pi * r**2;
print(area);

enter the radius of circle 4
50.272

In [14]:
print("Q#5");

Q#5

In [20]:
u = input("Enter your last name ");
n = input(" Enter your first name ");
un = u + n;
print(un);

Enter your last name Faryal
 Enter your first name Sarah
Faryal  Sarah

In [21]:
print("Q#6");

Q#6

In [22]:
x = int(input("value one"));
y = int(input("value two"));
z = x + y;
print(z);

value one24
value two44
68

In [23]:
print("Q#7");

Q#7

In [4]:
english = int(input("marks of english "));
maths = int(input("marks of maths "));
urdu = int(input("marks of urdu "));
science = int(input("marks of science "));
islamiat = int(input("marks of isla "));
Totalmarks = english + maths + urdu + science + islamiat;
percent = Totalmarks/500*100;
if percent<100 and percent>80:
    print("Grade A+");
elif percent<80 and percent>70:
    print("Grade A");
elif percent<70 and percent>60:
    print("Grade B");
elif percent<60 and percent>50:
    print("Grade C");
elif percent<50 and percent>40:
    print("Grade D");
elif percent<40 and percent>33:
    print("Grade E");
elif percent<0 and percent>100:
    print("you didnot write correct percentage");
else:
    print("Fail");

marks of english 86
marks of maths 94
marks of urdu 97
marks of science 82
marks of isla 98
Grade A+

In [5]:
print("Q#8");

Q#8

In [19]:
e = 8;
o = 3;
n = int(input("enter value of n"));
if n<e or n>3: 
    print("even");
else:
    print("odd");

enter value of n5
even

In [20]:
print("Q#9");

Q#9

In [26]:
#list

name = ["0","1","2","3","4"];
print(name);

['0', '1', '2', '3', '4']

In [27]:
print("Q#10");

Q#10

In [29]:
name = [0,1,2,3,4];
name1 = sum(name);
print(name1);

10

In [30]:
print("Q#11");

Q#11

In [31]:
name = ["0","8","2","5","4"];
print(name[1]);

8

In [32]:
print("Q#12");

Q#12

In [34]:
a =  [0,1,2,3,4,98,73,102,203];
a2 = a[:5];
print(a2);

[0, 1, 2, 3, 4]